<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	private int basNo;
	private int catNo;
	private String basAddr;
	private String basLat;
	private String basLon;
	//임시 REST 데이터 가져옴
	private String restLock;
	private int restTol;
	private int restUri;
 -->
<mapper namespace="com.project.root.mybatis.basicdata.BasicDataMapper">
	<resultMap type="com.project.root.basicdata.dto.BasicDataDTO" id="basicData">
		<id property="basNo" column="bas_no"/>
		<result property="catNo" column="cat_no"/>		
		<result property="basName" column="bas_name"/>
		<result property="basAddr" column="bas_addr"/>
		<result property="basLat" column="bas_lat"/>
		<result property="basLon" column="bas_lon"/>
		<result property="restLock" column="rest_lock"/>
		<result property="restTol" column="rest_tol"/>
		<result property="restUri" column="rest_uri"/>
	</resultMap>
	
	<resultMap type="com.project.root.restdata.dto.RestDataDTO" id="restData">
		<id property="restNo" column="rest_no"/>
		<result property="basNo" column="bas_no"/>
		<result property="restOpenTime" column="rest_opentime"/>
		<result property="restLock" column="rest_lock"/>
		<result property="restTol" column="rest_tol"/>
		<result property="restUri" column="rest_uri"/>
		<result property="restDisTol" column="rest_dis_tol"/>
		<result property="restDisUri" column="rest_dis_uri"/>
		<result property="restClTime" column="rest_cl_time"/>
		<result property="restStatus" column="rest_status"/>
		<result property="restKey" column="rest_key"/>
	</resultMap>
	
	<insert id="WriteBasicRest">
		INSERT INTO BASIC_DATA VALUES ( 'BAS' || TO_CHAR(BASIC_DATA_SEQ.NEXTVAL) ,1,#{basName},#{basAddr} ,#{bas_lat},#{bas_lon});
	</insert>
	<!-- 화장실 개방시간 09:00 고정 -->
	<insert id="WriteRest">
		INSERT INTO REST_DATA VALUES 
		(REST_DATA_SEQ.NEXTVAL ,#{basNo},#{restOpentime},#{restLock} ,#{restTol},#restUri},#{restDisTol},#{restDisUri}#{restClTime},#{restStatus},#{restKey});
	</insert>
</mapper>
