@charset "UTF-8";


.container {
	background-color: #F8F8F8;
	position: relative;
	top:100px;
	border-radius: 0.35em;
	padding: 20px;
}

a:hover {
	text-decoration: none;
}

.layer-popup {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
}

.layer-popup.show {
   display: block;
}


.modal-dialog {
   width: 20%;
   min-width:260px;
   margin: 10% auto;
   background-color: #fff;
   border-radius: 10%;
}
	
.modal-content {
   padding: 10% 4%;
   text-align: center;
   height: 70%;
   border-radius: 10%;
 
}
.modal-content #content {
	padding-top: 15px;
	/* padding-left:15px; */
	display: flex;
    flex-direction: row;
    justify-content: center;
	text-align : center;
}

.popBtn {
	display: flex;
	width: 100%;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	border: none;
	border-radius: 20px;
}
.popBtn:hover {
	background-color: rgba(0,0,0,0.7);
	text-decoration: none;
	
}

#btn-span {
	color: rgba(230,230,230,0.8);
	display:flex;
	width:100%;
	justify-content: center;

}