@charset "UTF-8";

#map {
   width: 100%;
   height: 100%;
}


.container {
	background-color: #F8F8F8;
	position: relative;
	top:100px;
	border-radius: 0.35em;
	padding: 20px;
}

#ditailInfoWindow{
	display: inline-block;
	position: relative;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 12px;
	padding-right: 10px;
}
#detailInfo{
	display: block;
}
#selectStart {
	float: right;
	padding-right: 10px;
	vertical-align: -20%;
}
#reply-Form {
	display: inline-block;
	position: relative;
}
#reviewSend{
	padding-top: 10px;
	border-top : 1px solid black;
}
#replyForm{
	position: relative;
	top: 50%;
	
}
#contentView{
	font-size: 1em;
	
}
#scoreView{
	float:right;
	padding-top: 3px;
	padding-right: 10px;
	color :rgba(250, 208, 0, 0.99);
}
#dateView{
	padding-top: 5px;
	font-size: 0.8em;
	float: right;
}

#clear{
	clear : both;
}
#bas_Name{
	display: block;
	float: left;
}
#avg{
	padding-right: 40px;
	display:block;
	float: right;
}
#star {
	color: orange;
}
#review {
	clear: both;
	display: block;
	border-top: 1px dashed black;
}
#replyForm fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
    padding-top: 3%;
}
#replyForm input[type=radio]{
    display: none;
}
#replySend{
	padding-left: 15px;
}
#replyForm label{
    font-size: 0.9em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.selectText{
	font-size: 0.8em;
	color: rgba(0,0,0,0.6);
}
#replyForm label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#replyForm label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#replyForm input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
input:focus {
	outline: none;
}

#infoContent{
	font-size: 1.2em;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}

#info_content{
	font-size: 17px;
	font-weight: bold;
	color: black;
}

#basName {
	font-size: 20px;
	font-weight: bold;
	color:  rgba(0,0,0,0.8);
}
#basAddr {
	font-size: 17px;
	color:  rgba(0,0,0,0.8);
}
#bas_addr {
	font-size: 13px;
	color: gray;
}


#send-icon:hover {
	transform: rotate( -90deg );
}
#restUri, #restToi, #restLock, #restStatus{	
	font-size: 1.4em;
	color:  rgba(0,0,0,0.7);
}



#reply{
	width:300px;
	border:none;
	font-size: 0.9em;
	color: rgba(0,0,0,0.6);
	border-bottom: 1px solid black;
}
#form_title {
	clear: both;
	display:inline-block;
	font-size: 1.2em;
	font-weight: bold;
	color: rgba(0,0,0,0.7);
}
#GPS {
	display: block;
	width: 40px;
	height: 40px;
	background-color:#f5f5f5;
	position: fixed;
	right: 30px; 
	top: 15%;
	z-index: 100;
	box-shadow: 0.5px 0.5px 1px 0.5px gray;
	border-radius: 50%;
}
#MAIL {
	display: block;
	width: 40px;
	height: 40px;
	background-color:#f5f5f5;
	position: fixed;
	right: 30px; 
	top: 25%;
	z-index: 100;
	box-shadow: 0.5px 0.5px 1px 0.5px gray;
	border-radius: 50%;
}
#gps-img{
	position: relative;
	top: 19%;
	left: 21%;
}
.layer-popup {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
}

.layer-popup.show {
   display: block;
}

.modal-dialog {
   width: 20%;
   margin: 10% auto;
   background-color: #fff;
   border-radius: 10%;
}
	
.modal-content {
   padding: 50px 15px;
   text-align: center;
   height: 300px;
   border-radius: 10%;
 
}
.modal-content #content {
	padding-top: 15px;
	/* padding-left:15px; */
	display: flex;
    flex-direction: row;
    justify-content: center;
	text-align : center;
}
.modal-content #small, #big {
	float: left;
}
.restContent1 {
	float: left;
	width: 45%;	
}
.restContent2 {
	float: left;
	width: 45%;	
}
#bas_content {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	color:  rgba(0,0,0,0.7);
	
}
#basAddr{
	width:100%;
	outline : none;
}

#replyDetail{
	display: block;
	width: 400px;
	padding : 10px;
	clear:both;
}

#replyDetail summary{
	margin-bottom : 20px;
}

#replyDetail[open]{
	background-color : #fff;
	height: 250px;
}


#overFlow{
	clear:both;
	height: 100px;
	display: block;
}
#rest-Toi, #rest-Uri,#rest-Lock, #rest-Status{
	font-size: 1.2em;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}
#rest-Toi:focus, #rest-Uri:focus{
	outline:none;
}

#deleteBtn {
	display: flex;
	width: 100%;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	border: none;
	border-radius: 20px;
}

#deleteBtn:hover {
	background-color: rgba(0,0,0,0.7);
	text-decoration: none;
	
}
#btn-span {
	color: rgba(230,230,230,0.8);
	display:flex;
   	width:100%;
   	justify-content: center;
}