<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	private int reNo;
	private int basNo;
	private int reSco;
	private String reContent;
	
		private int sugNo;
	private String sugSubject;
	private String sugContent;
	private Timestamp sugRegDate;
	private String sugReadCk;
 -->
<mapper namespace="com.project.root.mybatis.review.ReviewMapper">
	<resultMap type="com.project.root.review.dto.ReviewDTO" id="review">
		<id property="reNo" column="re_no"/>
		<result property="basNo" column="bas_no"/>
		<result property="reSco" column="re_sco"/>
		<result property="reContent" column="re_content"/>
		<result property="reRegDate" column="re_reg_date"/>
	</resultMap>
	
	<!-- 리뷰 전체 불러오기 -->
	<select id="getReviewList" resultMap="review">
		select * from review
	</select>
		
	<!-- 리뷰 작성 -->
	<insert id="replyWritePost">
		insert into review values(review_seq.nextval,#{basNo},#{reSco},#{reContent},sysdate)
	</insert>
	
	<!-- 특정 리뷰 불러오기 -->
	<select id="getSerarchReviewList" resultType="int">
		select count(*) from review where bas_no = #{basNo}
	</select>
	
	<!-- 리뷰 지우기 -->
	<delete id="deleteReview">
		delete from review where bas_no = #{basNo}
	</delete>
</mapper>
